.login-page{
  display: flex;
  align-items: center;
  width: 100%;
  background-image: url("../../assets/image/coffee.jpg");
  background-size: 100%;
  .phone-preview{
    width: 100%;
    .form{
      padding: 10% 5% 5%;
      box-sizing: border-box;
      margin: 54.5% auto;
      border-radius: 25px;
      background: rgba(248, 248, 248, 0.81);
      box-shadow: rgba(0, 0, 0, 0.0784314) 1px 3px 1px;
      // border: 1px solid #9ca7ac;
      width: 88%;
      .title{
        font-size: 20px;
        padding: 0 10px;
        font-weight: bold;
      }
      .iptBox{
        display: block;
        width: 90%;
        height: 20px;
        padding: 10px;
        border: none;
        margin: 12px auto;
        border-radius: 6px;
      }
      .btn{
        width: 43%;
        margin: 5px 10px;
        outline: none;
        background: lightpink;
        border: none;
        padding: 12px;
        color: white;
        font-weight: bold;
        border-radius: 50px;
      }
      .bottom-nav{
        position: absolute;
        top: 51%;
        left: 18%;
        font-size: 15px;
      }
      .bottom-nav a{
        display: inline-block;
        color:#f0ad4e;
      }
      .forget{
        display: flex;
        justify-content: flex-end;
        padding: 10px;
      }
      .forget a{
        color: #F44336;;
      }
    }
  } 
}
