
.home{
  .am-modal-header {
    padding: 0;
}
  .nav-bar{
    display: flex;
    width: 100%;
    height: 2.8rem;
    padding: 0 3%;
    align-items: center;
    box-sizing: border-box;
    background-image: url(../../assets/image/co.jpg);
    background-size: 100% 100%;
    .logo{
      width: 15%;
      img{
        width: 100%;
      }
    }
    .searchBox{
      width: 70%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .searchIpt{
        width: 70%;
        height: 35px;
        border-radius: 50px;
        border: none;
        outline: none;
        padding: 0 20px;
        opacity: 0.9;
      }
    }
    .user{
      width: 50px;
      height: 50px;
      img{
        width: 100%;
        background: white;
        border-radius: 50%;
      }
    }  
  }
  .disparture{
    width: 90%;
    margin: 15px auto;
    background: white;
    border-radius: 10px;
    padding: 15px 0 5px;
    box-sizing: border-box;
    .am-flexbox-item{
      text-align: center;
      img{
        width: 40%;
      }
      p{
        margin: 0 0 10px;
        // font-size: 0.6rem;
        color: #333;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  .hot-recommend{
    margin-bottom: 50px;
    .hr-title{
      padding: 10px;
      text-align: center;
      background-image: url(https://static.fordgo.com/activity/home/title_bg.png);
      background-size: 100% 100%;
      color: #FD5C0E;
      // font-size: 0.7rem;
    }
    .hr-list{
      padding: 10px;
      .hr-detail{
        display: inline-block;
        width: 46%;
        margin: 2%;
        background: white;
        border-radius: 10px;
        .product-img{
          width: 100%;
          height: 0;
          padding: 10px;
          padding-bottom: 95%;
          box-sizing: border-box;
          overflow: hidden;
          img{
            width: 100%;
          }
        }
        .name{
          padding: 0 10px;
          font-weight: bold;
          // font-size: 0.6rem;
          color: #4A4A4A;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .pd-price{
          display: flex;
          justify-content: space-between;
          padding: 10px 10px;
          align-items: center;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          .price{
            color: red;
            margin: 0;
            // font-size: 0.6rem;
          }
          img{
            width: 25%;
            height: 28px;
          }
        }
      }
    }
  }
}