.bottom-bar{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background: white;
  .am-flexbox-item{
    text-align: center;
    // .home{
    //   background: url(../../../assets/image/home.png)
    // }
    // .search{
    //   background: url(../../../assets/image/search.png)
    // }
    // .shoppingCart{
    //   background: url(../../../assets/image/shoppingCart.png)
    // }
    // .my{
    //   background: url(../../../assets/image/my.png)
    // }
    .img{
      width: 25%;
      margin: 3px auto;
      img{
        width: 100%;
      }
    }
    p{
      color: #333;
      font-size: 12px;
      margin: 0;
    }
  }
}
